*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

/* Assets */


/* Finestra video-call */

.win-container{
    height: 100vh;

    position: relative;
    
    background-color: black;
}

.view-container{
    padding: 60px 60px 20px 60px;

    height: calc(100vh - 60px);
}

.view{
    background-color: aquamarine;
    /* test */

    display: flex;
    flex-wrap: wrap;

    height: 100% 
}

.win-call{
    border: 1px solid black;
    /* test */

    position: relative;
    
    width: calc(100% / 7);
    height: calc(100% / 5);
    min-width: 100px;
}

.win-call img{
    height: 100%;
    width: 100%;
}

/* Elementi position absolute */
.view-type{
    display: flex;
    flex-direction: row;
    gap: 5px;

    padding: 2px;

    position: absolute;
    right: 2px;
}

.fa-solid.fa-expand, .fa-solid.fa-table-cells, #sel-view-type, #sel-expand{
    padding: 2px;

    font-size: 0.9em;

    cursor: pointer;

    background-color: #4a4a4a;
    
    color: white;

    border-radius: 5px;
}

.id-call{
    position: absolute;
    bottom: 0;
    left: 0;

    padding: 4px;

    font-size: 0.8em;

    background-color: rgba(0, 0, 0, 0.3);
    color: white;
}

/* Toolbar */

.toolbar{
    height: 60px;

    background-color: #222222;
}